### Importación de datos

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

En este primer análisis, debes calcular el ingreso total de cada tienda. Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

In [6]:
ingreso_total = tienda["Precio"].sum() + tienda2["Precio"].sum() + tienda3["Precio"].sum() + tienda4["Precio"].sum()
print(f'El ingreso total de las tiendas es = ${ingreso_total}')

El ingreso total de las tiendas es = $4403619200.0

In [37]:
ingreso_total_tienda = tienda['Precio'].sum()
ingreso_total_tienda2 = tienda2['Precio'].sum()
ingreso_total_tienda3 = tienda3['Precio'].sum()
ingreso_total_tienda4 = tienda4['Precio'].sum()


print(f'El ingreso total de la Tienda 1 es: ${ingreso_total_tienda}')
print(f'El ingreso total de la Tienda 2 es: ${ingreso_total_tienda2}')
print(f'El ingreso total de la Tienda 3 es: ${ingreso_total_tienda3}')
print(f'El ingreso total de la Tienda 4 es: ${ingreso_total_tienda4}')

El ingreso total de la Tienda 1 es: $1150880400.0
El ingreso total de la Tienda 2 es: $1116343500.0
El ingreso total de la Tienda 3 es: $1098019600.0
El ingreso total de la Tienda 4 es: $1038375700.0

# 2. Ventas por categoría

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [17]:
categorias_tienda1 = tienda['Categoría del Producto'].value_counts()
categorias_tienda2 = tienda2['Categoría del Producto'].value_counts()
categorias_tienda3 = tienda3['Categoría del Producto'].value_counts()
categorias_tienda4 = tienda4['Categoría del Producto'].value_counts()

print("Tienda 1 - Productos vendidos por categoría:\n", categorias_tienda1, "\n")
print("Tienda 2 - Productos vendidos por categoría:\n", categorias_tienda2, "\n")
print("Tienda 3 - Productos vendidos por categoría:\n", categorias_tienda3, "\n")
print("Tienda 4 - Productos vendidos por categoría:\n", categorias_tienda4, "\n")

Tienda 1 - Productos vendidos por categoría:
 Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

Tienda 2 - Productos vendidos por categoría:
 Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Tienda 3 - Productos vendidos por categoría:
 Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Tienda 4 - Productos vendidos por categoría:
 Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [38]:
calificacion_total_tienda = tienda['Calificación'].value_counts()
calificacion_total_tienda2 = tienda2['Calificación'].value_counts()
calificacion_total_tienda3 = tienda3['Calificación'].value_counts()
calificacion_total_tienda4 = tienda4['Calificación'].value_counts()

calificacion_promedio_tienda = tienda['Calificación'].mean()
calificacion_promedio_tienda2 = tienda2['Calificación'].mean()
calificacion_promedio_tienda3 = tienda3['Calificación'].mean()
calificacion_promedio_tienda4 = tienda4['Calificación'].mean()


print("Tienda 1 - Calificaciones:\n", calificacion_promedio_tienda, "\n")

print("Tienda 2 - Calificaciones:\n", calificacion_promedio_tienda2, "\n")

print("Tienda 3 - Calificaciones:\n", calificacion_promedio_tienda3, "\n")

print("Tienda 4 - Calificaciones:\n", calificacion_promedio_tienda4, "\n")

print(f'El promedio de la tienda 1 es: {calificacion_promedio_tienda}')
print(f'El promedio de la tienda 2 es: {calificacion_promedio_tienda2}')
print(f'El promedio de la tienda 3 es: {calificacion_promedio_tienda3}')
print(f'El promedio de la tienda 4 es: {calificacion_promedio_tienda4}')

Tienda 1 - Calificaciones:
 3.976685036032217

Tienda 2 - Calificaciones:
 4.037303942348453

Tienda 3 - Calificaciones:
 4.048325561678677

Tienda 4 - Calificaciones:
 3.9957591178965224

El promedio de la tienda 1 es: 3.976685036032217
El promedio de la tienda 2 es: 4.037303942348453
El promedio de la tienda 3 es: 4.048325561678677
El promedio de la tienda 4 es: 3.9957591178965224

# 4. Productos más y menos vendidos

En este paso, debes identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [40]:
ventas_totales = tienda.groupby(['tienda', 'producto'])['ventas'].sum().reset_index()

KeyError: 'tienda'

# 5. Envío promedio por tienda